.userlist{
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three items per row */
  gap: 10px; /* Add some spacing between grid items */
}

@media (max-width: 768px){
    .userlist{
        display: grid;
      grid-template-columns: repeat(1, 1fr); /* Three items per row */
      gap: 10px; /* Add some spacing between grid items */
    }
}